<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/favorites"></ion-back-button>
    </ion-buttons>
    <ion-title>Tour Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{tour.Region}} / {{tour.Tourtype}}
      </ion-card-subtitle>

      <ion-card-title>
        {{tour.Title}}
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      {{tour.Description}}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="presentActionSheet()">
    Options
  </ion-button>
</ion-footer>
